*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.btn {

    padding: 1rem;
    background-color: white;
    border: 0;
    border-radius: 2rem;
    display: block;
    box-shadow: .1rem .1rem .3rem black;
    width: 100%;
}

.input-wrapper {
    position: relative;
    width: 30rem;
    margin: 10rem auto;
}

.input-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-icons i {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.2s ease;
    position: absolute;
}
.btn.valid + .input-icons .fa-check,
.btn.invalid + .input-icons .fa-times{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.fa-check {
    background-color: #20e3b2;
}

.fa-times {
    background-color: #fc5776;
}
